.banner {
    @include rfs(100px, padding-top);
    background-color: $darkgery;
    box-shadow: 0px 38px 39px -20px rgba(52,53,58,1);
    h1 {
        color: $lightgrey2;
        font-size: 46px;

        span {
            color: $yellow;
            font-size: 55px;
            font-weight: bold;
        }
    }

    .banner-wrapper {
        @include display-f($jc: left);
    }

    .banner-content {
        @include rfs(100px, padding-bottom);
        @include flexw(400px);
    }

    .banner-image {
        @include flexw(calc(100% - 400px));

        figure {
            @include smcontainer(400px);

            img {
                @include fit-image;
            }
        }
    }
    .contactme{
        border: 2px solid $yellow;
        max-width: 200px;
        @include border-radius(10px);
        @include text-align();
        font-size: 20px;
        line-height: 1.3;
        font-weight: 700;
        color: $white;
        padding: 10px 20px;
        display: block;
        margin-top: 40px;
        @include tranistions-;
        &:hover{
            background-color: $yellow;
            color: $darkgrey2;
        }
    }
}

.about {
    @include rfs(100px, padding-top);
    @include rfs(100px, padding-bottom);
    background-color: $darkgrey3;
    h2 {
        @include rfs(40px , padding-bottom);
        &.myskills{
            @include text-align();
            @include rfs(50px , padding-top);
        }
    }

    .about_me {
        @include rfs(70px, padding-left);
        @include psudeo(
                $right: unset,
                $top: 20px) {
                background-color: $yellow;
                width: 55px;
                height: 2px;
            }
        p {
            font-size: 30px;
            line-height: 1.4;
            color: $lightgrey2;
            
        }
        @include rfs(50px , padding-bottom);
    }
    .skills{
        @include display-f();
        flex-wrap: wrap;
        gap: 20px;
        row-gap: 30px;
        li{
            @include flexw(calc(25% - 20px));
            @include text-align();
            height: 300px;
            background-color: $darkgrey2;
            @include display-f();
            @include border-radius(20px);
            @include flex-direction(column);
            @include tranistions-;

            &:hover{
                background-color: $yellow;
                scale: 1.05;
            }
            figure{
                svg{
                    height: 80px;
                    width: 80px;
                    &.react-log{
                        > path{
                            fill: transparent;
                        }
                    }
                    
                }
            }
            h4{
                color: $white;
                font-size: 30px;
                line-height: 1.4;
                font-weight: 600;
                padding-top: 20px;
            }
        }
    }
}
.experience{
    @include rfs( 100px ,padding-top);
    @include rfs( 100px ,padding-bottom);
    background-color: $darkgrey2;
    .experience-blk{
        @include rfs(70px , padding-top);
        @include smcontainer(80%);
        color: $white;
        li{
            @include display-f($align:flex-start);
            gap: 100px;
            margin-bottom: 100px;
            .year{
                @include flexw(200px);
            }
            .contents-blk{
                @include flexw(calc(100% - 200px));
                @include psudeo($right:unset , $left:-60px ,$top:40px ){
                    height: 100%;
                    width: 2px;
                    background-color: $yellow;
                }
                @include psudeo($loc:before , $left:-71px ){
                    width: 25px;
                    height: 25px;
                    background-color: $yellow;
                    @include border-radius(50%);
                    @include box-shadow(0px 0px 33px 0px rgba(255,200,107,1));
                }
                h4{
                    @include rfs(35px , font-size);
                    padding-bottom: 20px;
                }
                p{
                    @include rfs(25px , font-size);
                    line-height: 1.4;
                    font-weight: 500;
                }
            }
        }
        
    }
}