

@font-face {
    font-family: 'PP Neue Montreal';
    src: url('../font/PP-Neue-Montreal/PPNeueMontreal-Book.woff2') format('woff2'),
        url('../font/PP-Neue-Montreal/PPNeueMontreal-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Neue Montreal';
    src: url('../font/PP-Neue-Montreal/PPNeueMontreal-Medium.woff2') format('woff2'),
        url('../font/PP-Neue-Montreal/PPNeueMontreal-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'PP Right Didone';
    src: url('../font/pp-right-didone-wide/PPRightDidone-WideMedium.woff2') format('woff2'),
        url('../font/pp-right-didone-wide/PPRightDidone-WideMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Right Didone';
    src: url('../font/pp-right-didone-wide/PPRightDidone-WideBlack.woff2') format('woff2'),
        url('../font/pp-right-didone-wide/PPRightDidone-WideBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


 