footer{
    @include rfs(100px , padding-bottom);
    @include rfs(100px , padding-top);
    @include relation();
    background-color: $darkgery;
    .divider{
        height: 2px;
        background-color: $yellow;
        width: 40%;
        @include relation($rel:absolute , $index:-1);
        &.divider1{
            left: 0;
            top: 0;
        }
        &.divider2{
            right: 0;
            top: 0;
        }
        &.divider3{
            left: 0;
            bottom: 0;
        }
        &.divider4{
            right: 0;
            bottom: 0;
            
        }
    }   
    .contact-footer{
        @include text-align();
        @include relation();
        @include rfs(-140px ,margin-top);
    }
    .contact-details{   
        @include display-f();
        @include rfs(75px , padding-top);
        li{
            
            background-color: $darkgrey2;
            @include flexw(50%);
            width: 100%;
            @include display-f();
            .footer-icons{
                @include flexw(80px);
            }
        }
    }
}