footer {
    padding: 100px 0;
    @include relation();
    background-color: $darkgery;

    .divider {
        height: 2px;
        background-color: $yellow;
        width: 40%;
        @include relation($rel: absolute, $index: -1);

        &.divider1 {
            left: 0;
            top: 0;
        }

        &.divider2 {
            right: 0;
            top: 0;
        }

        &.divider3 {
            left: 0;
            bottom: 0;
        }

        &.divider4 {
            right: 0;
            bottom: 0;

        }
    }

    .contact-footer {
        @include text-align();
        @include relation($rel:absolute);
        width: 100%;
        right: 0;
        left: 0;
        @include rfs(-42px , top);
    }
    .contact-details {
        @include display-f();
        flex-wrap: wrap;
        gap: 30px;

        li {

            background-color: $darkgrey2;
            @include flexw(45%);

            padding: 13px 20px;
            @include border-radius(20px);
            width: 100%;
            @include display-f();

            .footer-icons {
                @include flexw(80px);
                height: 80px;

                img {
                    @include fit-image();
                }

                svg {
                    path {
                        fill: $white;
                    }
                }
            }

            a {
                margin-left: 20px;
                display: block;
                font-size: 25px;
                color: $yellow;
                line-height: 1.6;
                @include tranistions-;

                &:hover {
                    color: $white;
                }
            }
        }
    }

    .footer-social-iocns {
        @include relation($rel:absolute);
        width: 100%;
        right: 0;
        left: 0;
        bottom: -37px;
        @include display-f;
        flex-wrap: wrap;
        li {
            @include flexw(50px);
            margin: 0 15px;
            a{
                display: block;
                svg {
                    path {
                        fill: #ffffff;
                    }
                }
            }
            
        }
    }
}
.footer-bottom{
    height: 60px;
    background-color: $darkgery;
}