header{
    background-color:$darkgery;
    padding: 16px 30px;
    &.active{
        position: fixed;
        z-index: 999;
        width: 100%;
        // top: -200px;
       left: 0;
       @include box-shadow(0px 4px 12px -5px rgba(0,0,0,0.75));
        animation: header-anime .7s ;
    }
    
    .navbar-light {
        .navbar-nav{
            .nav-link{
                color: $lightgrey;
                font-size: 20px;
                @include tranistions-;
                &.active{
                    color: $white;
                }
                &:hover{
                    color: $white;
                }
            }
        }
    }
    .navbar-brand{
        max-width: 64px;
        img{
            @include fit-image();
        }
    }
}
@keyframes header-anime{
    0%{
        top: -200px;
    }
    100%{
        top: 0;
    }
}