header{
    background-color:$darkgery;
    padding: 16px 30px;
    
    .navbar-light {
        .navbar-nav{
            .nav-link{
                color: $lightgrey;
                font-size: 20px;
                &.active{
                    color: $white;
                }
            }
        }
    }
    .navbar-brand{
        max-width: 64px;
        img{
            @include fit-image();
        }
    }
}